<h2><%= t('social_responsibility.title') %></h2>
<div class="socialcontribution wrapper">
	<div class="socialcontribution images">
		<img src="<%= asset_url('social-contribution/3.jpg')%>" width="320" height="240" alt="Karaca Gıdadan Eğitime Destek" title="Karaca Gıdadan Eğitime Destek" style="float:left;margin:0 20px 20px 0;border:5px solid #DFF3FF">
		<img src="<%= asset_url('social-contribution/2.jpg')%>" width="320" height="240" alt="Karaca Gıdadan Eğitime Destek" title="Karaca Gıdadan Eğitime Destek" style="float:left;margin:0 20px 20px 0;border:5px solid #DFF3FF">
		<img src="<%= asset_url('social-contribution/1.jpg')%>" width="320" height="240" alt="Karaca Gıdadan Eğitime Destek" title="Karaca Gıdadan Eğitime Destek" style="float:left;margin:0 10px 10px 0;border:5px solid #DFF3FF">
	</div>

	<h4>
		<%= t('social_responsibility.info') %>
	</h4>
</div>
